.home-bg {
  background-image: url('../../../public/series_images//peakpx.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}


.containerr {
  padding: 12rem 0 9rem 3rem;
}

.witcher-poster {
  width: 33rem;
}

.home-info {
  width: 35%;
}


.home-info button:nth-child(2) {
  background-color: white;
  border: none;
  color: black;
  padding: .45rem 1.5rem;
  border-radius: 5px;
  margin-right: .5rem;
}

.home-info button:nth-child(3) {
  background-color: rgba(128, 128, 128, 0.462);
  border: none;
  color: white;
  padding: .5rem 1.5rem;
  border-radius: 5px;
}



@media screen and (max-width : 768px) {

  .containerr {
    padding: 0;
  }

  .witcher-poster {
    width: 30%;
  }

  .home-info p {
    font-size: .5rem;
  }
}