.navbar {
    background-color: transparent;
    width: 100%;
    position: fixed;
    top: 0;
    transition: background-color 0.3s ease;
    z-index: 1000;
  }
  
  .navbar.scrolled {
    background-color: #100e17;
    box-shadow: 0 2px 4px rgba(35, 35, 35, 0.1); /* Add desired box-shadow */
  }
  
  
  .navbar-brand {
    font-weight: bold;
    font-size: 24px;
  }
  
  .navbar-collapse {
      animation: slideDown 0.5s ease-in-out;
  }
  
  .navbar-toggler-icon {
    color: white;
  }
  
  .navbar-nav .nav-item .nav-link {
    color: white;
  }
  
  .navbar-nav .nav-item .nav-link:hover {
    color: #0bbba0;
    scale: 1.15;
  }
  