footer {
    padding: 3rem 0;
    background-color: black;
}


.footer-question {
    margin-left: 7.8rem;
}

.footer-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

.footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 50%;
}


.footer-links {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.footer-links a {
    color: rgb(169, 169, 169);
}


@media screen and (max-width: 999px) {

    .footer-question {
        margin-left: 5rem;
    }

    
    .footer-wrapper {
        width: 100%;
    }



    
}