* {
  margin: 0;
  padding: 0;
  background-color: rgb(28, 27, 27);
}

@font-face {
  font-family: netflix;
  src: url('/public/fonts/NetflixSans-Light.otf');
}

.red {
  background-color: #e50914;

}

h1 {
  font-family: netflix;
}