* {
  margin: 0;
  padding: 0;
  font-family: netflix;
}

@font-face {
  font-family: netflix;
  src: url('/public/fonts/NetflixSans-Light.otf');
}

.red {
  background-color: #e50914;

}

ul li {
  list-style: none;
}